#feature-info {
  z-index: 1000;
  position: absolute;
  top: 2em;
  right: 6em;
  width: 20em;
  max-width: 40%;
  height: 8em;
  background: white;
  font-size: 90%;
  overflow: hidden;
  display: none;
}

#feature-info.active {
  display: block;
}

#feature-info dd {
  margin: 0;
  padding: 0;
  display: inline;
}
#feature-info dt {
  display: inline;
  font-weight: bold;
}
#feature-info dd:after {
  display: block;
  content: ' ';
}
#feature-info dt:after {
  display: inline;
  content: ': ';
}
